<div class="bg-card-dark rounded-xl p-4 flex flex-col border border-border-color">
  <div
    class="w-full h-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
    data-alt="Peta geospasial Riau menunjukkan beberapa area restorasi gambut"
    data-location="Riau, Indonesia"
    style="
      background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAjbvwMdMHozg8668ei1sg--Vyqw3qmo_Ed0qjE3rjvSJLe_VmB7SbvWLtcjvcgAKs3WAsatwmBvCj2ykBWaMhLTD3tCN-Xl5YIHm3A6dz6m3bjmo4CowkmxzD-eIQvVC5mmUE8GdkMECfCQcGa0QspnJskObAIT0zpxrXw5CO-QNvimetrSYBWkFdB_FEjwU74aTfELdLw079n1PL8CS2JxJrQ4y5agMdnmo9MU2WZxfnZJLKhKcwpZr6tWh2ktu1g9mOS6lhiQTI');
    "
  ></div>
</div>