<div class="bg-card-dark rounded-xl shadow-lg border border-border-color overflow-hidden h-full flex flex-col">
  
  <div class="p-4 md:p-6 border-b border-border-color">
    <h3 class="font-semibold text-white text-lg">{{MAP_TITLE}}</h3>
  </div>

  <div class="relative bg-background-dark flex-1 min-h-[400px]">
    
    <div id="map-canvas" style="height: 100%; width: 100%; background-color: #102210;">
      </div>
    
    <div data-component-src="{{LEGEND_SRC}}">
      </div>

    <div class="absolute bottom-4 right-4 flex flex-col items-end gap-3 z-10">
      
      {{IF_SHOW_ZOOM}}
      <div data-component-src="src/components/ui/map_zoom_controls.html">
        </div>
      {{END_IF_SHOW_ZOOM}}

      {{IF_SHOW_NAV}}
      <div data-component-src="src/components/ui/map_nav_control.html">
        </div>
      {{END_IF_SHOW_NAV}}

    </div>
  </div>
</div>